<div class="navbar text-body">
  <div class="container-fluid">
    <%= image_tag "philosofeast.png", class: "logo"  %>
    <div class="navbar-nav ms-auto d-flex">
      <% if user_signed_in? %>
        <div class="nav-item">
        </div>
        <div class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= cl_image_tag current_user.photo.key, class: "avatar", alt: "dropdown menu" %>
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Register me as a Philosopher", new_philosopher_path, class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
          </div>
        </div>
      <% else %>
        <div class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </div>
        <div class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
