<div class="navbar text-body">
  <div class="container-fluid">
    <%= link_to root_path do %>
      <%= image_tag "philosofeast.png", class: "logo"  %>
    <% end %>
    <div class="navbar-nav">
      <div class="row">
        <% if user_signed_in? %>
          <% if !current_user.philosopher? %>
            <div class="col">
              <%= link_to "I'm a philosopher", new_philosopher_path, class: "nav-link" %>
            </div>
          <% end %>
          <div class="col">
            <%= link_to "Profile", profile_path, class: "nav-link" %>
          </div>
          <div class="col">
            <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" %>
          </div>
        <% else %>
          <div class="col">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
