<% if @philosophers.empty? %>
  <p>No philosophers available at the moment.</p>
<% else %>
  <div class="philosophers-container">
    <% @philosophers.each do |philosopher| %>
      <div class="philosopher-card">
        <h4><%= philosopher.user.username %></h4>
        <p>Age: <%= philosopher.age %></p>
        <p>Location: <%= philosopher.location %></p>
        <p>Specialization: <%= philosopher.preferred_topic %></p>
        <!-- Add more content based on the philosopher attributes you want to display -->
        <%= link_to 'View', philosopher_path(philosopher), class: 'button' %>
      </div>
    <% end %>
  </div>

<% end %>
