<%= form_with url: philosophers_path, method: :get, class: "search-form m-3",
style: "background-color: #f5f5f5; border: 1px solid #ddd; padding: 5px; border-radius: 10px; width: 100px;" do %>
  <%= text_field_tag :query, params[:query], placeholder: "Search by name",
  class: "search-input", style: "padding: 5px; border: none; outline: none; width: 21.5%;" %>
  <%= submit_tag "Search", class: "search-button",
  style: "background-color: #333; color: white; padding: 5px 10px; border: none; border-radius: 5px;" %>
<% end %>
<div class="content">

  <% if @philosophers.empty? && params[:query].present? %>
    <p>No such philosophers found. Put a philosopher's name. </p>
  <% elsif @philosophers.empty? %>
    <p>No philosophers available at the moment.</p>
  <% else %>
    <div class="philosophers-cards">
      <% @philosophers.each do |philosopher| %>
        <%= link_to philosopher_path(philosopher), class: 'philosopher-card rounded-4' do %>
          <div class="w-100 rounded-4 philosopher-avatar" style="background-image: url('<%= cl_image_path(philosopher.user.photo.key, height: 250) %>')"></div>
          <div class="philosopher-info">
            <h4><%= philosopher.user.username %></h4>
            <p><strong><%= philosopher.nationality %></strong></p>
            <p class="text-secondary"><%= philosopher.age %> years old</p>
            <p class="text-secondary">Wants to talk about <%= philosopher.preferred_topic %></p>
            <br>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <div class="map m-3 rounded-4" style="width: 50%;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
