<% if @philosophers.empty? %>
  <p>No philosophers available at the moment.</p>
<% else %>
  <div class="philosophers-container">
    <% @philosophers.each do |philosopher| %>
      <div class="philosopher-card">
        <h4><%= philosopher.user.username %></h4>
        <div class="philosopher-info">
        <%= image_tag philosopher.user.image_url, alt: "Image of #{philosopher.user.username}", width: "100"%>
        <p><strong>Age:</strong> <%= philosopher.age %></p>
        <p><strong>Location:</strong> <%= philosopher.location %></p>
        <p><strong>Specialization:</strong> <%= philosopher.preferred_topic %></p>
        <!-- Add more content based on the philosopher attributes you want to display -->
        <%= link_to 'Read more...', philosopher_path(philosopher), class: 'button' %>
        </div>
      </div>
    <% end %>
  </div>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
<% end %>
