<div class="new-philo">
   <div class='d-flex justify-content-center'>
     <div class='signup-card col-6 p-5 m-4 rounded-4 bg-black bg-opacity-50'>

  <h1>Register as a Philosopher</h1>
  <%= simple_form_for @philosopher, url: philosophers_path do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs text-light">
      <%= f.input :age, required: true, input_html: { min: 0 } %>
      <%= f.input :location, required: true %>
      <%= f.input :bio, as: :text, required: true %>
      <%= f.input :price_per_hour, required: true, input_html: { type: 'number', step: 'any' } %>
      <%= f.input :preferred_topic, required: true %>
      <%= f.input :philosophical_focus, required: true %>
      <%= f.input :dress_code, required: true %>
      <%= f.input :nationality, required: true %>
      <%= f.input :communication_style, required: true %>
      <!-- Add other philosopher specific fields as required -->
    </div>

    <div class="form-actions d-flex justify-content-center">
      <%= f.button :submit, "Register as Philosopher", class: "btn btn-dark text-white rounded-4" %>
    </div>
  <% end %>
  </div>
</div>
</div>
