<div class="philosopher-name d-flex justify-content-start">
  <button onclick="window.location.href='<%= philosophers_path %>'" class="btn btn-transparent mr-2"><i class="fa-solid fa-chevron-left" style="color: #000000;"></i></button>
<h4><%= @philosopher.user.username %></h4>
</div>
<div class="philosopher-flex">
  <div class="m-3 rounded-4 philosopher-avatar-big" style="background-image: url('<%= cl_image_path(@philosopher.user.photo.key, width: 400) %>')"></div>
  <div class="philosopher-description">
    <p class="bigger-paragraph"><i class="fa-solid fa-cake-candles" style="color: #000000;"></i> <%= @philosopher.age %> years old</p>
    <p class="bigger-paragraph"><i class="fa-solid fa-clock" style="color: #000000;"></i> Available between <%= @philosopher.availability %></p>
    <p class="bigger-paragraph"><i class="fa-solid fa-money-bill-wave" style="color: #000000;"></i> <%= @philosopher.price_per_hour %>/hour</p>
    <p class="bigger-paragraph"><i class="fa-solid fa-language" style="color: #000000;"></i> <%= @philosopher.nationality %></p>
    <p class="bigger-paragraph"><i class="fa-solid fa-heart" style="color: #000000;"></i> Loves to talk about <%= @philosopher.preferred_topic %></p>
    <p class="bigger-paragraph"><i class="fa-solid fa-fire" style="color: #000000;"></i>  For me it's all about <%= @philosopher.philosophical_focus %></p>
    <p class="bigger-paragraph"><i class="fa-solid fa-shirt" style="color: #000000;"></i> <%= @philosopher.dress_code %></p>
    <p class="bigger-paragraph"><i class="fa-solid fa-comments" style="color: #000000;"></i> My communication style is <%= @philosopher.communication_style %></p>
    <div class="bg-light p-3 rounded-4">
      <p class="bigger-paragraph text-dark">
        <strong>About me: </strong>
        <em><%= @philosopher.bio %></em>
      </p>
    </div>

<div data-controller="toggle" class="mt-5">
  <!-- Button trigger modal -->
  <button type="button" data-bs-toggle="modal" data-bs-target="#bookDinner" class="btn btn-dark rounded-4 p-3">
    Book a dinner with <%= @philosopher.user.username %>
  </button>

  <!-- Modal -->
  <div class="modal fade" id="bookDinner" tabindex="-1" aria-labelledby="bookDinnerLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-white">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-black" id="bookDinnerLabel">Let's meet!</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <%= simple_form_for [@philosopher, @dinner] do |f| %>
              <div data-controller="priceupdate">
                <div class="m-5">
                  <%= f.input :date, as: :string, input_html: { data: {controller: "datepicker"} } %>
                  <%= f.input :credit_card %>
                  <%= f.input :length, collection: 1..5, label: 'Dinner duration (hours)', input_html: { id: 'length_input', data: { action: "change->priceupdate#newPrice" } } %><br>
                  <p><strong>Total Price for Dinner:</strong> <span id="total_price" data-priceupdate-target="totalPrice"><%= @philosopher.price_per_hour %></span>€</p>
                  <%= f.button :submit, "Confirm Booking", class: "btn btn-dark rounded-4 p-3" %>
                </div>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>



</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
    var pricePerHour = <%= @philosopher.price_per_hour.to_json %>;
    var lengthInput = document.getElementById("length_input");
    var totalPriceDisplay = document.getElementById("total_price");

    lengthInput.addEventListener("change", function() {
      var length = this.value;
      var totalPrice = pricePerHour * length;
      totalPriceDisplay.textContent = totalPrice;
    });
  });
</script>
</div>

  <div class="map m-3 rounded-4" style="width: 30%;"

    data-controller="map"
    data-map-markers-value="<%= @marker.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>
