<div class="philosopher-name">
  <h4><%= @philosopher.user.username %></h4>
</div>
<div class="philosopher-flex">
  <div class="m-3 rounded-4 philosopher-avatar-big" style="background-image: url('<%= image_path('aristotle_selfie.png') %>')"></div>
  <div class="philosopher-description">
    <p><%= @philosopher.age %> years old</p>
    <p><strong>About me:</strong><em>"<%= @philosopher.bio %>"</em></p>
    <p><i class="fa-solid fa-clock" style="color: #000000;"></i> <%= @philosopher.availability %></p>
    <p><i class="fa-solid fa-money-bill-wave" style="color: #000000;"></i> <%= @philosopher.price_per_hour %></p>
    <p><i class="fa-solid fa-language" style="color: #000000;"></i> <%= @philosopher.language %></p>
    <p><i class="fa-solid fa-heart" style="color: #000000;"></i><%= @philosopher.preferred_topic %></p>
    <p><i class="fa-solid fa-fire" style="color: #000000;"></i><%= @philosopher.philosophical_focus %></p>
    <p><i class="fa-solid fa-shirt" style="color: #000000;"></i> <%= @philosopher.dress_code %></p>
    <p><i class="fa-solid fa-comments" style="color: #000000;"></i> <%= @philosopher.communication_style %></p>  </div>
  <div class="map m-3 rounded-4" style="width: 30%;"
    data-controller="map"
    data-map-markers-value="<%= @marker.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>

<div data-controller="toggle" class="mt-5" >
  <button data-action="click->toggle#fire" class="btn btn-outline-primary">Book a dinner with <%= @philosopher.user.username %></button>
  <div data-toggle-target="toggleableElement", class="d-none">
  <%= simple_form_for [@philosopher, @dinner] do |f| %>
    <%= f.input :date, as: :string %>
    <%= f.input :credit_card %>
    <%= f.input :length, collection: 1..5, label: 'Dinner duration (hours)' %>
    <%= f.button :submit, "Confirm Booking", class: "custom-button" %>
  <% end %>
  </div>
  <br>
  <%= link_to 'Back to List', philosophers_path%>
</div>
