<div class="philosopher-name">
  <h4><%= @philosopher.user.username %></h4>
</div>
<div class="philosopher-flex">
  <div class="philosopher-description">
    <p><strong>Age:</strong> <%= @philosopher.age %></p>
    <p><strong>Location:</strong> <%= @philosopher.location %></p>
    <p><strong>Bio:</strong> <%= @philosopher.bio %></p>
    <p><strong>Availability:</strong> <%= @philosopher.availability %></p>
    <p><strong>Price:</strong> <%= @philosopher.price_per_hour %></p>
    <p><strong>Language:</strong> <%= @philosopher.language %></p>
    <p><strong>Prefered Topic:</strong> <%= @philosopher.preferred_topic %></p>
    <p><strong>Philosophical Focus:</strong> <%= @philosopher.philosophical_focus %></p>
    <p><strong>Dress Code:</strong> <%= @philosopher.dress_code %></p>
    <p><strong>Communication Style:</strong> <%= @philosopher.communication_style %></p>  </div>
  <div class="philosopher-avatar">
    <td><%= image_tag @philosopher.user.image_url, alt: "Image of #{@philosopher.user.username}", width: "300" %></td>
  </div>
</div>

<div class="myform">
<h4>Book a dinner with <%= @philosopher.user.username %></h4>
<%= simple_form_for [@philosopher, @dinner] do |f| %>
  <%= f.input :date, as: :string %>
  <%= f.input :credit_card %>
  <%= f.input :length, collection: 1..5, label: 'Dinner duration (hours)' %>
  <%= f.button :submit, "Confirm Booking", class: "custom-button" %>
<% end %>
<br>
<%= link_to 'Back to List', philosophers_path%>
</div>
