<h1><%= @philosopher.user.username %></h1>
<p>Age: <%= @philosopher.age %></p>
<p>Location: <%= @philosopher.location %></p>
<p>Bio: <%= @philosopher.bio %></p>
<p>Availability: <%= @philosopher.availability %></p>
<p>Price: <%= @philosopher.price_per_hour %></p>
<p>Language: <%= @philosopher.language %></p>
<p>Prefered Topic: <%= @philosopher.preferred_topic %></p>
<p>Philosophical Focus: <%= @philosopher.philosophical_focus %></p>
<p>Dress Code: <%= @philosopher.dress_code %></p>
<p>Communication Style: <%= @philosopher.communication_style %></p>

<!-- Add more philosopher details as needed -->

<%= link_to 'Edit', edit_philosopher_path(@philosopher) %>
<%= link_to 'Back to List', philosophers_path %>
