<h1><%= @philosopher.user.username %></h1>
<td><%= image_tag @philosopher.user.image_url, alt: "Image of #{@philosopher.user.username}", width: "100" %></td>
<p>Age: <%= @philosopher.age %></p>
<p>Location: <%= @philosopher.location %></p>
<p>Bio: <%= @philosopher.bio %></p>
<p>Availability: <%= @philosopher.availability %></p>
<p>Price: <%= @philosopher.price_per_hour %></p>
<p>Language: <%= @philosopher.language %></p>
<p>Prefered Topic: <%= @philosopher.preferred_topic %></p>
<p>Philosophical Focus: <%= @philosopher.philosophical_focus %></p>
<p>Dress Code: <%= @philosopher.dress_code %></p>
<p>Communication Style: <%= @philosopher.communication_style %></p>

<!-- Add more philosopher details as needed -->
<%= simple_form_for [@philosopher, @dinner] do |f| %>
  <%= f.input :date, as: :string %>
  <%= f.input :credit_card %>
  <%= f.input :length, collection: 1..5, label: 'Dinner duration (hours)' %>

  <%= f.button :submit, "Confirm Booking" %>
<% end %>

<%= link_to 'Back to List', philosophers_path, class: "btn btn-primary" %>
